<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="panel">Inicio</a>
        </li>
        <li>
            <a ui-sref="panel.usuarios" >usuarios</a>
        </li>
    </ul>
</div>



<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Usuarios</h2>

                <div class="box-icon">
                    <!--
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                    -->
                </div>
            </div>
            <div class="box-content row">
                

            </div>
        </div>
    </div>
</div>



<button class="btn btn-primary" ng-click="vercreandousuario()">Crear</button>

    <div ng-show="verusuariocreado" class="panel panel-warning">
      <div class="panel-heading">Ingrese  los datos de Usuarios en los campos correspodientes</div>
         <form ng-submit="Insertenderusuario(usuario_crear)">
          <div>
            <input required="required" class="form-control" type="text" placeholder="Nombre" ng-model="usuario_crear.nombres">
          </div>
            <div>
              <input  required="required" class="form-control" type="text" placeholder="Apellidos" ng-model="usuario_crear.apellidos">
            </div>
            
            <div  > 
              
                <select  class="form-control selcls" > <optgroup required="required" label="Sexo:"> <option>M</option><option>F</option></optgroup></select>
            </div>

            <div>
                <input required="required"  class="form-control" type="text" placeholder="username" ng-model="usuario_crear.username">
            </div>

            <div>
              <input required="required" class="form-control" type="password" placeholder="Contraseña" ng-model="usuario_crear.password">
            </div>
            <div >
              <input  class="btn btn-primary  btn-block" type="submit" name="" value="Crear Usuario">
            </div>
          

          
                       
        </form>
    </div>



  

<table class="table table-bordered table-condensed table-striped table-hover">
  <thead>


    <tr >
      <th scope="col">ID </th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">sexo</th>
      <th scope="col">username</th>
      <th scope="col">Contraseña</th>
       <th scope="col">Editar</th>
    


    </tr>


    <tr ng-repeat="usuario in usuarios">
      
      <td>{{$index + 1}}</td>
      <td>{{usuario.nombres}}</td>
      <td>{{usuario.apellidos}}</td>
      <td>{{usuario.sexo}}</td>
      <td>{{usuario.username}}</td>
      <td>{{usuario.password}}</td>
      <td scope="col" class=" glyphicon glyphicon-pencil btn btn-primary" href="" ng-click="veractuausers(usuario)"></td>
      <td scope="col" class="glyphicon glyphicon-remove btn btn-danger" href="" ng-click="elimninaruser(usuario)" ></td>
    </tr>
  </thead>
  <tbody>
      

 
   
  </tbody>
</table>


<div ng-show="modusers">
    <h2>Modificar usuario</h2>
    <form ng-submit="actusers(user_editars)">

      <table style="width: 100%;">

        <tr>
          <td>Nombre :</td>
          <td><input class="form-control" type="text" placeholder="Nombre" ng-model="user_editars.nombres"></td>
        </tr>

        <tr>
          <td>Apwllidos :</td>
          <td><input class="form-control" type="text" placeholder="apellidos" ng-model="user_editars.apellidos"></td>
        </tr>

        <tr>
          <td>Sexo :</td>
          <td>
          <input class="form-control" type="text" placeholder="sexo" ng-model="user_editars.sexo">
        </td>
        </tr>

        
        <tr>
          <td>User Name :</td>
          <td><input class="form-control" type="text" placeholder="username" ng-model="user_editars.username">
          </td>
        </tr>

        <tr>
          <td>Contraseña</td>
          <td>
          <input class="form-control" type="password"  ng-model="user_editars.password"></td>
        </tr>
       

      
        
      </table>

      
        
      

      <div>
        <input class="btn btn-primary  btn-block" type="submit" name="" value="Actualizar usuario">
      </div>
      
      
      
      
      
      
    </form>
  </div>


